body{
    background: #000
}

.global{
    margin-left: 1300px;
    width: 15px;
    height: 15px;
}
.main_top{
    margin-top: 200px;
    text-align: center;
    color: aliceblue;
}
.main_top h1{font-size: 3.5em;}
.main_top .h2{font-size: 1.4em;}