*{
    margin: 0;
    background-color: black;
}
div{
    width: 1920px;
    height: 770px;
    background-image: url("../images/header_background.jpg");
    border-bottom: 10px solid rgba(191, 191, 191, 0.5);
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.top_logo{
    width: 100px;
    top: 50px;
    position: relative;
}